body
{
    background-color: blueviolet;
}
.column {
    width: 33%;
    padding: 0 15px;
  }
  
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
@media screen and (max-width: 600px) {
.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
}
  .card {
    padding: 50px;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 250px;
    background: rgb(20, 19, 19);
    border-radius: 0px;
    border: solid black 2px;
    opacity: 1;
    margin-bottom: 20px;
  }
  .card:hover
  {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card-title {
    text-align: center;
    font: normal normal bold 30px/84px Segoe UI;
    letter-spacing: 0px;
    color: #4a4949;
    opacity: 1;
  }
  .card-text {
    text-align: center;
    font: normal normal bold 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #4a4949;
    opacity: 1;
    padding: 5px;
  }
  .p
  {
    margin-bottom: 40px
  }
  input
  {
    height:30px ;
    width:30px ;
    border-color: white;
    background-color: rgb(20, 19, 19);
  }
  label
  {
    font-size: large;
    color: whitesmoke;
  }
  .br
  {
    border: none;
  }
  .ul
  {
    text-decoration: line-through;
    color: whitesmoke;
  }
  
  